

.wrapper {
    width: 1060px; 
    margin: auto;
    background: #ffffff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    font-size: 0; 
}

.logo {
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 60px;
}

/* главное меню*/

.top-menu ul {
    padding: 0;
    width: 966px;
    margin: auto;
      background-image: -webkit-linear-gradient(bottom, #444343, #5e5e5e);
      background-image: -moz-linear-gradient(bottom, #444343, #5e5e5e);
      background-image: -o-linear-gradient(bottom, #444343, #5e5e5e);
      background-image: -ms-linear-gradient(bottom, #444343, #5e5e5e);
      background-image: linear-gradient(to top, #444343, #5e5e5e);
}

.top-menu li {
    display: inline-block;
    padding-right: 30px;
}

.top-menu a {
    display: block;
    border: 1px solid transparent;
    padding: 15px;
    font-size: 15px;
    font-family: "Myriad Pro", sans-serif;
    color: #ffffff;
    text-decoration: none;
}

.top-menu a :first-child {
      padding-left: 0;
}

.top-menu a:hover {
    background-color: #333333;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
 }

/* Боковое меню */

.content ul {
    display: inline-block;
    padding: 0;
    background: #ffffff;
    width: 240px;
    margin: 45px;
    vertical-align: top;
}

.content li {
    text-align: center;
    margin: 0px;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.content ul li:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.content a {
    display: block;
    border: 1px solid transparent;
    padding: 15px;
    text-decoration: none;
    list-style: none;
    vertical-align: top;
    color: #666666;
    font-family: "Myriad Pro", sans-serif;
    font-size: 14px;
}

.content a:hover {
    color: #2c2c2c;
    text-indent: 10px;
    background-color: #cccccc;
 }

/* рисунок*/ 

.content img {
    display: inline-block;
    width: 680px;
    margin-top: 40px;  
}

p {
    font-size: 14px;
    width: 600px;
    margin: 40px;
    margin-left: 350px;
}

/* подвал */

.footer {
    margin: 40px;
    height: 40px;
    padding: 30px;
}

.footer ul {
    padding: 0;
    width: 966px;
    background: #cccccc;
}

.footer li {
    display: inline-block;
    padding: 10px 30px;
}

.footer a {
    display: block;
    text-decoration: none;
    color: #333333;
    font-family: "Myriad Pro", sans-serif;
    font-size: 14px;
     -moz-transition: all 0.3s 0.01s ease;
     -o-transition: all 0.3s 0.01s ease;
     -webkit-transition: all 0.3s 0.01s ease;
}


.footer li:last-child {
      display:inline-block;
      margin-left: 320px;
      border: 1px solid transparent;
      color: #2c2c2c;
      font-family: "Myriad Pro", sans-serif;
      font-size: 14px;
      text-align: left;
}

.footer a:hover {
      text-decoration: underline;
}
